
    <%- include('partials/header.html') %>

   

    <section class="outras-noticias">
        <div class="title-outras-noticia">
            <h2>Busca:</h2>
            <br><br>
            <div class="center">
                
                <div style="width:100%;" class="mais-lidas">
                    <h3><%= contagem %></h3>
                    <div class="mais-lidas-noticias">

                        <% for(let i=0 ; i < post.length; i++){ %>
                        <div class="mais-lida-noticia-single">
                            <img src="<%= post[i].imagem %>" />
                            <div class="texto-mais-lida-single">
                                <h4><%= post[i].titulo %></h4>
                                <p><%= post[i].conteudo %></p>
                                <a href="<%= post[i].slug %>">Saiba mais</a>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer.html') %>

</body>
</html>